main {
  padding-left: 306px;
  overflow: hidden;

  .container {
    padding: 50px 70px;
  }
}

.menu-icon i {
  font-size: 66px;
  position: absolute;
  right: 42px;
  top: 28px;
  color: #0e0e0e;
  display: none;
}

.site-content {
  &__title {
    font-family: var(--font-p);
    font-weight: 500;
    font-size: 24px;
    color: #000;
  }
}

.user-content {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  padding: 36px;
  margin-top: 60px;

  // .user-content__top
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .user-content__top_start

    &_start {
    }

    // .user-content__top_start-cus

    &_start-cus {
      font-family: var(--font-p);
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.01em;
      color: #000;
      padding-bottom: 20px;
    }

    // .user-content__top_start-members

    &_start-members {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #16c098;
    }

    // .user-content__top_end

    &_end {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        background-image: url("../images/loop.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      input {
        border-radius: 10px;
        width: 216px;
        height: 38px;
        background: #f9fbff;
        padding-left: 38px;

        font-family: var(--font-p);
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: #b5b7c0;

        &::placeholder {
          font-family: var(--font-p);
          font-weight: 400;
          font-size: 12px;
          letter-spacing: -0.01em;
          color: #b5b7c0;
        }
      }
    }
  }
}

.content-scroll {
  overflow-y: auto;
  max-height: 58vh;
}

.content-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.content-scroll::-webkit-scrollbar-thumb {
  background-color: #5932ea;
  border-radius: 12px;
}

.user-list {
  // .user-list__body
  margin-top: 36px;
  width: 100%;

  &__title {
    text-align: left;
    border-bottom: 1px solid #eeeeee;
  }

  // .user-list__body-item

  &__title-item {
    padding: 26px 0;

    font-family: var(--font-p);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  &__body {
    text-align: left;
    border-bottom: 1px solid #eeeeee;
  }

  &__body-item {
    padding: 26px 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #292d32;
  }
}

.user-list__body-item.active {
  font-family: var(--font-p);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #008767;

  border: 1px solid #00b087;
  border-radius: 4px;
  padding: 8px 18px;
  background: rgba(22, 192, 152, 0.38);
  display: flex;
  max-width: 84px;
  justify-content: center;
  align-items: center;

  display: none;
}

.user-list__body-item.inactive {
  font-family: var(--font-p);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #df0404;

  border: 1px solid #df0404;
  border-radius: 4px;
  padding: 8px 18px;
  background: #ffc5c5;
  display: flex;
  max-width: 84px;
  justify-content: center;
  align-items: center;

  display: none;
}

.user-list__body.user-active .user-list__body-item.active {
  display: flex;
}

.user-list__body.user-inactive .user-list__body-item.inactive {
  display: flex;
}

.user-content {
  // .user-content__bottom

  &__bottom {
    // .user-content__bottom_paginations
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 16px;

    &_paginations {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    // .user-content__bottom_paginations-item

    &_paginations-item {
      font-family: var(--font-p);
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: -1px;
      color: #404b52;
      cursor: pointer;

      border: 1px solid #eee;
      border-radius: 4px;
      padding: 6px 8px;
      width: 26px;
      height: 24px;
      background: #f5f5f5;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s ease-in;

      &:hover {
        background-color: #5932ea;
        border: 1px solid #5932ea;
        color: #fff;
      }
    }
  }

  // .user-content__bottom-cop

  &__bottom-cop {
    p {
      font-family: var(--font-p);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #b5b7c0;
    }
  }
}
